XML/TP3/TP3/master.dtd

<!ENTITY  site1  "Luminy" 		>
<!ENTITY  site2  "St Jerome"	>
<!ENTITY  site3  "St Charles" 	>

<!ENTITY  adresseSitePerso      ".perso.luminy.univ-amu.fr/" >
<!ENTITY  http					"http://www."				 >
<!ENTITY  dom.luminy  			"univ-mrs.fr" 				 >
<!ENTITY  dom.dil     			"dil.&dom.luminy;" 			 >

<!ELEMENT master					((intervenant,enseignement,specialite,parcour)*)>
<!ELEMENT enseignement    			((nom,identifiant,nombreCreditResume,plan,lieu)*)>
<!ELEMENT intervenant				((identifiant,nom,mail,siteWeb)*)				 >
<!ELEMENT specialite				((nom,identifiant,code,finalite,lieu)*)			 >							 
<!ELEMENT parcour					((nom,responsable,debouche,description)*)		 >
<!ELEMENT semestre					(ue+)								   			 >																
<!ELEMENT ue						(((enseignements+),role)*)						 >
<!ELEMENT nom 						(#PCDATA)  >
<!ELEMENT responsable 				(#PCDATA)  >
<!ELEMENT debouche 					(#PCDATA)  >
<!ELEMENT description 				(#PCDATA)  >
<!ELEMENT role 						(Obligatoire|Facultatif)  >
<!ELEMENT lieu 						(#PCDATA)  >
<!ELEMENT code 						(#PCDATA)  >
<!ELEMENT finalite 					(#PCDATA)  >
<!ELEMENT plan 						(#PCDATA)  >
<!ELEMENT resume 					(#PCDATA)  >
<!ELEMENT nombreCredit 				(#PCDATA)  >
<!ELEMENT identifiant 				(#PCDATA)  >
<!ELEMENT mail 						(#PCDATA)  >
<!ELEMENT siteWeb 					(#PCDATA)  >
<!ATTLIST enseignement  id  IDREF  #IMPLIED>
